* {
  padding: 10;
  margin: 10;
  text-align: center;
  background: #7578c0;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.playMe,
.clear {
  padding: 1em;
  margin: 2em;
  background-color: #7578c0;
  border: 3px solid #fff;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
}
