* {
  padding: 10;
  margin: 10;
  text-align: center;
  background: #7578c0;
}
.heading {
  text-align: center;
  padding: 0.1em 2em;
  font-size: 3.2em;
  color: navy;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .playMe,
.clear {
  padding: 1em;
  margin: 0.2em 1em 2em;
  background-color: #7578c0;
  border: 3px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
} */

.playMe,
.clear {
  width: 150px;
  height: 45px;
  /* margin-top: 1em; */
  margin: 0.2em 1em 2em;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #fff;
  background-color: #22bb7e;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.playMe:hover,
.clear:hover {
  background-color: inherit;
  border: 3px solid #22bb7e;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #000;
  transform: translateY(-7px);
}
.playMe:active,
.clear:active {
  background-color: inherit;
  border: 3px solid #22bb7e;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #000;
  transform: translateY(-2px);
}
